.bottom-text {
    font-size: x-small;
}

.main {
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.tight {
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0px;
}

.tight-text {
    margin-bottom: -5px;
    padding: 0px;
}

.center {
    display: flex;
    justify-content: center;
}
